* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

body {
  font-size: 1rem; }

h1 {
  text-align: center;
  font-family: "Parisienne", cursive; }
  @media (min-width: 320px) {
    h1 {
      font-size: 2.5rem;
      padding: 10px; } }
  @media (min-width: 600px) {
    h1 {
      font-size: 2.5rem;
      padding: 10px; } }
  @media (min-width: 1050px) {
    h1 {
      font-size: 3rem;
      padding: 10px; } }
  @media (min-width: 2000px) {
    h1 {
      font-size: 4rem;
      padding: 10px;
      margin-top: 40px; } }

@media (min-width: 1050px) {
  h3 {
    font-size: 1.3rem; } }

@media (min-width: 1050px) {
  p {
    font-size: 0.8rem; } }

.header__a__h2--logo {
  font-family: "Parisienne", cursive; }
  @media (min-width: 320px) {
    .header__a__h2--logo {
      font-size: 2rem;
      text-align: center; } }
  @media (min-width: 600px) {
    .header__a__h2--logo {
      font-size: 2rem;
      text-align: center; } }
  @media (min-width: 1050px) {
    .header__a__h2--logo {
      display: none; } }
  @media (min-width: 2000px) {
    .header__a__h2--logo {
      display: none; } }

.header__nav__a__h2--logo {
  font-family: "Parisienne", cursive; }
  @media (min-width: 320px) {
    .header__nav__a__h2--logo {
      display: none; } }
  @media (min-width: 600px) {
    .header__nav__a__h2--logo {
      display: none; } }
  @media (min-width: 1050px) {
    .header__nav__a__h2--logo {
      display: inline;
      font-size: 2rem;
      text-align: center; } }
  @media (min-width: 2000px) {
    .header__nav__a__h2--logo {
      display: inline;
      font-size: 3rem;
      text-align: center; } }

@media (min-width: 320px) {
  .section-index__div_h1 {
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3px; } }
@media (min-width: 600px) {
  .section-index__div_h1 {
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px; } }
@media (min-width: 1050px) {
  .section-index__div_h1 {
    font-size: 3.5rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px; } }

@media (min-width: 320px) {
  .section-index__div_p {
    font-size: 0.8rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px; } }
@media (min-width: 600px) {
  .section-index__div_p {
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px; } }
@media (min-width: 1050px) {
  .section-index__div_p {
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px; } }

@media (min-width: 1050px) {
  .section-index_button_a {
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px; } }

@media (min-width: 320px) {
  .body--row {
    display: block; } }
@media (min-width: 600px) {
  .body--row {
    display: flex;
    flex-direction: column; } }
@media (min-width: 1050px) {
  .body--row {
    display: flex;
    flex-direction: row; }
    .body--row .body--row__header--column {
      width: 25%; }
    .body--row .body--row__div--main--column {
      width: 75%; } }

.article-index--row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }
  @media (min-width: 320px) {
    .article-index--row .article-index_div--row--column {
      display: block;
      padding: 2px; } }
  @media (min-width: 600px) {
    .article-index--row .article-index_div--row--column {
      flex: 35%;
      padding: 4px; } }
  @media (min-width: 1050px) {
    .article-index--row .article-index_div--row--column {
      flex: 25%;
      padding: 4px; } }

@media (min-width: 600px) {
  .section-prestation_div--row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap; } }
@media (min-width: 1050px) {
  .section-prestation_div--row {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 320px) {
  .section-prestation_div--row .section-prestation_div--row_div--column {
    max-width: 95%;
    padding: 23px; } }
@media (min-width: 600px) {
  .section-prestation_div--row .section-prestation_div--row_div--column {
    max-width: 45%;
    padding: 10px; } }
@media (min-width: 1050px) {
  .section-prestation_div--row .section-prestation_div--row_div--column {
    max-width: 32%;
    padding: 150px 4px 150px 4px; } }
@media (min-width: 600px) {
  .section-prestation_div--row .section-prestation_div--row_div--column:nth-child(3) {
    margin: auto; } }
@media (min-width: 1050px) {
  .section-prestation_div--row .section-prestation_div--row_div--column:nth-child(3) {
    margin: 0; } }

.section-a-propos_div--row {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .section-a-propos_div--row .section-a-propos_div--row_div--column-1 {
    display: flex; }
    @media (min-width: 320px) {
      .section-a-propos_div--row .section-a-propos_div--row_div--column-1 {
        flex-direction: column; } }
    @media (min-width: 1050px) {
      .section-a-propos_div--row .section-a-propos_div--row_div--column-1 {
        flex-direction: row; } }
    .section-a-propos_div--row .section-a-propos_div--row_div--column-1 p {
      padding: 10px; }
  .section-a-propos_div--row .section-a-propos_div--row_div--column-2 {
    display: flex; }
    @media (min-width: 320px) {
      .section-a-propos_div--row .section-a-propos_div--row_div--column-2 {
        flex-direction: column; } }
    @media (min-width: 1050px) {
      .section-a-propos_div--row .section-a-propos_div--row_div--column-2 {
        flex-direction: row-reverse;
        justify-content: space-between; } }
    .section-a-propos_div--row .section-a-propos_div--row_div--column-2 p {
      padding: 10px; }
      @media (min-width: 1050px) {
        .section-a-propos_div--row .section-a-propos_div--row_div--column-2 p {
          text-align: justify;
          /* For Edge */
          -moz-text-align-last: right;
          /* For Firefox prior 58.0 */
          text-align-last: right; } }

@media (min-width: 320px) {
  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly; } }
@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between; } }
@media (min-width: 1050px) {
  nav {
    width: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }
@media (min-width: 2000px) {
  nav {
    width: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }
@media (min-width: 1050px) {
  nav .nav__a__h2 {
    text-align: center; } }
@media (min-width: 320px) {
  nav .nav-header {
    display: flex;
    flex-direction: column;
    text-align: center; } }
@media (min-width: 600px) {
  nav .nav-header {
    display: flex;
    flex-direction: column;
    text-align: center; } }
@media (min-width: 1050px) {
  nav .nav-header {
    display: flex;
    flex-direction: column;
    text-align: center; } }
@media (min-width: 320px) {
  nav .nav-header a {
    font-size: 1.2rem;
    margin-bottom: 40px; } }
@media (min-width: 600px) {
  nav .nav-header a {
    font-size: 1.5rem;
    margin-bottom: 35px; } }
@media (min-width: 1050px) {
  nav .nav-header a {
    font-size: 1.3rem;
    margin-bottom: 35px; } }
@media (min-width: 2000px) {
  nav .nav-header a {
    font-size: 2rem;
    margin-bottom: 74px; } }
@media (min-width: 320px) {
  nav .nav-footer {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: space-evenly; */
    padding: 55px; } }
@media (min-width: 600px) {
  nav .nav-footer {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: space-evenly; */
    padding: 55px; } }
@media (min-width: 1050px) {
  nav .nav-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: -3em; } }
@media (min-width: 320px) {
  nav .nav-footer .nav-footer__div--phone {
    display: flex;
    justify-content: space-evenly;
    margin: 10px; } }
@media (min-width: 600px) {
  nav .nav-footer .nav-footer__div--phone {
    display: flex;
    justify-content: space-evenly;
    margin: 10px; } }
@media (min-width: 1050px) {
  nav .nav-footer .nav-footer__div--phone {
    display: flex;
    justify-content: space-evenly; } }
nav .nav-footer .nav-footer__div--phone .nav-footer__a-phone {
  font-size: 1.5rem; }
@media (min-width: 320px) {
  nav .nav-footer .nav-footer__div--network {
    display: flex;
    justify-content: space-evenly;
    margin: 10px; } }
@media (min-width: 600px) {
  nav .nav-footer .nav-footer__div--network {
    display: flex;
    justify-content: space-evenly;
    margin: 10px; } }
@media (min-width: 1050px) {
  nav .nav-footer .nav-footer__div--network {
    display: flex;
    justify-content: space-evenly; } }

@media (min-width: 320px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 80vw;
    align-self: center; } }
@media (min-width: 1050px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    width: 750px;
    align-self: center; } }
@media (min-width: 2000px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 790px;
    width: 771px;
    align-self: center;
    margin-top: 120px; } }
@media (min-width: 320px) {
  form #nom, form #prenom, form #mail {
    border: 1px solid black;
    height: 35px; } }
@media (min-width: 1050px) {
  form #nom, form #prenom, form #mail {
    border: 1px solid black;
    height: 35px; } }
@media (min-width: 2000px) {
  form #nom, form #prenom, form #mail {
    border: 1px solid black;
    height: 55px; } }
@media (min-width: 320px) {
  form #message {
    border: 1px solid black;
    height: 200px; } }
@media (min-width: 1050px) {
  form #message {
    border: 1px solid black;
    height: 200px; } }
@media (min-width: 2000px) {
  form #message {
    border: 1px solid black;
    height: 230px; } }
@media (min-width: 320px) {
  form #submit {
    height: 35px; } }
@media (min-width: 1050px) {
  form #submit {
    height: 40px;
    cursor: pointer; } }
@media (min-width: 2000px) {
  form #submit {
    height: 60px;
    cursor: pointer; } }

footer {
  text-align: center;
  padding: 10px; }

.article-index__img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-top: 8px; }

.section-prestation__img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-top: 8px; }

.section-a-propos__img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-top: 8px; }

.icon-font-awesome {
  font-size: 1.9rem; }

button {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 15rem;
  align-self: center;
  color: white;
  transition: 0.2s; }

/*.arrow{
min-width: 15rem;
background: #FE5F55;
&:hover {
background: darken(#FE5F55, 10%);
}
&:active,
&:focus {
background: darken(#FE5F55, 30%);
}
&:after {
content: "\f0da";
}
&:hover:after {
-webkit-animation: bounceright .3s alternate ease infinite;
animation: bounceright .3s alternate ease infinite;
}
@keyframes bounceright {
from { transform: translateX(0); }
to   { transform: translateX(3px); }
}
@-webkit-keyframes bounceright {
from { -webkit-transform: translateX(0); }
to   { -webkit-transform: translateX(3px); }
}
}*/
.section-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../../img/header-index.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  	/*}
  	//medium screen
  	@include md {
  
  	}
  	//large screen
  	@include lg {
  		display: flex;
  		flex-direction: column;
  		height: 100vh;
  		background: {
  			image:url(../../img/header-index.jpg);
  			repeat: no-repeat;
  			position: center center;
  			attachment:fixed;
  			size:cover;
  
  		}
  	}*/ }
  @media (min-width: 320px) {
    .section-index .section-index__div {
      margin: 25px; } }
  @media (min-width: 600px) {
    .section-index .section-index__div {
      margin: 13px; } }
  @media (min-width: 2000px) {
    .section-index .section-index__div {
      margin: 30px; } }
  @media (min-width: 320px) {
    .section-index .section-index_button {
      margin: 50px;
      padding: 10px; } }
  @media (min-width: 600px) {
    .section-index .section-index_button {
      margin: 45px;
      padding: 20px; } }
  @media (min-width: 1050px) {
    .section-index .section-index_button {
      margin: 35px;
      padding: 20px; } }
  @media (min-width: 2000px) {
    .section-index .section-index_button {
      margin: 80px;
      padding: 25px; } }

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (min-width: 600px) {
  .section-prestation {
    display: flex;
    flex-direction: column; } }
@media (min-width: 1050px) {
  .section-prestation {
    display: flex;
    flex-direction: column;
    height: 900px; } }
.section-prestation h3 {
  text-align: center; }
.section-prestation p {
  padding-top: 4px;
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
