//Home specific styles
@import '../abstract/mixins';

.section-index{
	//small screen
	//@include sm {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		background: {
			image:url(../../img/header-index.jpg);
			repeat: no-repeat;
			position: center center;
			attachment:fixed;
			size:cover;

		}
	/*}
	//medium screen
	@include md {

	}*/
	//large screen
	@include lg {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		background: {
			image:url(./../img/header-index.jpg);
			repeat: no-repeat;
			position: center center;
			attachment:fixed;
			size:cover;

		}
	}
		.section-index__div{
		//small screen
			@include sm {
			margin: 25px;

		}
		//medium screen
			@include md {
			margin: 13px;
		}
		//extra extra large
			@include xl{
			margin: 30px;
		}
}
		.section-index_button{
	//small screen
			@include sm {
			//margin: 50px;
			padding: 10px;
		}
	//medium screen
	/*		@include md {
		//	margin: 45px;
		//	padding: 20px;
		}*/
	//large screen
			@include lg {
			margin: 35px;
	//		padding: 20px;
		}
	//extra large
			@include xl {
			margin: 80px;
			padding: 25px;
		}
	}
	.section-index__div__div{
		margin: auto;

		//medium screen
		@include md {
			width: 190px;
		}
		//large screen
		@include lg {
			width: 300px;
		}
		.section-index__div__div__hr{
			//small screen
			@include sm {
				width: 135px;
			}
			//medium screen
			@include md {
				width: 160px;
			}
			//lg screen
			@include lg {
				width: 225px;
			}
		}
	}
}
