@import '../abstract/_variables.scss';

@media (min-width: 900px)  {
  .article-index{
  background-color: $blue;
  padding: 1vw;
  border-top: 0.4vw solid white;
 }
}

@media (min-width: 481px) and (max-width: 899px) {
  
  .article-index{
  background-color: $blue;
  padding: 1vw;
  border-top: 0.4vw solid white;
 }

}

@media (min-width: 320px) and (max-width: 480px)  {
  


}
