//GRID
//grid for body
.body--row{
    display: flex;
    .body--row__header--column{
        width: 25%;
    }
    .body--row__div--main--column{
        width: 75%;
    }
}

//gallery img home page
.article-index--row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    .article-index_div--row--column{
        flex: 25%;
        padding: 4px;
    }
}

//prstation grid page
.section-prestation_div--row{
    display: flex;
    justify-content: space-between;
    .section-prestation_div--row_div--column{
        max-width: 25%;
        padding: 0 4px;
    }
}
//about us grid

.section-a-propos_div--row{
    display: flex;
    flex-direction: column;
    .section-a-propos_div--row_div--column{
        display: flex;
        flex-direction: row-reverse;
        max-width: 70%;
        padding: 0 4px;
    }
}