//GRID

//gallery img home page
.article-index--row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    .article-index_div--row--column{
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
}

//prstation grid page
.section-prestation_div--row{
    display: flex;
    justify-content: space-between;
    .section-prestation_div--row_div--column{
        max-width: 25%;
        padding: 0 4px;
    }
}
