//NAVIGATION
nav{
    display: flex;
    flex-direction: column;
    .nav-header{
        display: flex;
        flex-direction: column;
    }
    .nav-footer{
        display: flex;
        flex-direction: column;
        .nav-footer__div--phone{
            display: flex;
        }
        .nav-footer__div--network{
            display: flex;
        }
    }
}