//Sass functions
//display none for toggle function 
.displayNone{
    display: none !important;
}
//close for the header
.close {
    height: 42px;
    display: flex;
    flex-direction: row-reverse;
}