//Typography rules
@import './../abstract/variables';

//General
body{
	font-size: 1rem;
}

h1{
	//small screen
	@include sm {
		text-align: center;
		font-family: $font-logo;
		font-size: 2.5rem
	}
	//medium screen
	@include md {
		text-align: center;
	font-family: $font-logo;
	font-size: 2.5rem
	}
	//large screen
	@include lg{ 
	text-align: center;
	font-family: $font-logo;
	font-size: 3rem;	
	}
	
}

h3{
	font-size: 1.3rem;
}

p{
	font-size: 0.8rem;
}

//Logo
.header__a__h2--logo{

	//small screen
	@include sm {
		font-family: $font-logo;
		font-size: 2rem;
		text-align:center;
	}

	//medium screen
	@include md {
		font-family: $font-logo;
		font-size: 2.5rem;
		text-align:center;
	}

	//large screen
	@include lg {
		display: none;
	}

	//extra large screen
	@include xl {
		display: none;
	}
}

.header__nav__a__h2--logo{
	//small screen
	@include sm {
		display : none;
	}

	//medium screen
	@include md {
		display: none;
	}

	//large screen
	@include lg{
		display: inline;
		font-family: $font-logo;
		font-size: 2.5rem;
		text-align:center;
	}

	//extra large screen
	@include xl{
		display: inline;
		font-family: $font-logo;
		font-size: 3.5rem;
		text-align:center;
	}
}

//home page 

//title of home-page with logo
.section-index__div_h1{
	//small screen
	@include sm{
		font-size: 2.5rem;
		color: white;
		display: flex;
		justify-content: center;
		padding:3px;
	}
	//medium screen
	@include md {
		font-size: 3rem;
		color: white;
		display: flex;
		justify-content: center;
		padding:5px;
	}
	//large screen
	@include lg {
		font-size: 3.5rem;
		color: white;
		display: flex;
		justify-content: center;
		padding:10px;
	}
	
}

//litle paragrage below title
.section-index__div_p{
	//small screen
	@include sm {
		font-size: 0.8rem;
		color: white;
		display: flex;
		justify-content: center;
		text-align: center;
		padding : 5px;
	}
	
	//medium screen
	@include md {
		font-size: 1rem;
		color: white;
		display: flex;
		justify-content: center;
		padding:5px;
	}
	//large screen
	@include lg {
		font-size: 1.2rem;
		color: white;
		display: flex;
		justify-content: center;
		padding:5px;
	}
	
}

//button C-T-A to prestation or about us
.section-index_button_a{
	//small screen
	@include sm {

	}
	//medium screen
	@include md {

	}
	//large screen
	@include lg {
		color: white;
		display: flex;
		justify-content: center;
		padding:5px;
	}
	
}
