//Buttons
//home page
button{
	display: flex;
    justify-content: space-around;
    background-color: black;
    /* width: 15rem; */
    align-self: center;
    /* color: white; 
     transition: 0.2s;*/
}
#button-burger{
	font-size: 2rem;
	padding: 10px;
}
.section-index_button{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}
.section-index_button:hover{
    background-color: #ffffff;
    opacity: 0.4;
    transition: 0.5s;
    .section-index_button_a{
        color : black;
    }
    .arrow{
        color: black;
    }
}
/*.arrow{
min-width: 15rem;
background: #FE5F55;
&:hover {
background: darken(#FE5F55, 10%);
}
&:active,
&:focus {
background: darken(#FE5F55, 30%);
}
&:after {
content: "\f0da";
}
&:hover:after {
-webkit-animation: bounceright .3s alternate ease infinite;
animation: bounceright .3s alternate ease infinite;
}
@keyframes bounceright {
from { transform: translateX(0); }
to   { transform: translateX(3px); }
}
@-webkit-keyframes bounceright {
from { -webkit-transform: translateX(0); }
to   { -webkit-transform: translateX(3px); }
}
}*/
