//Home specific styles
.section-index{
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: {
		image:url(../../img/header-index.jpg);
		repeat: no-repeat;
		position: center center;
		attachment:fixed;
		size:cover;

	}
}
