//Prestation specific styles
@import '../abstract/mixins';

.section-prestation{
	//medium screen
	@include md {
		display:flex;
		flex-direction: column;
	}
	//large screen
	@include lg {
		display:flex;
		flex-direction: column;
		height: 900px;	
	}

	h3{
		text-align: center;
	}
	p{
		padding-top: 4px;
		text-align: justify;
	}
}
