.section-prestation__img {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin:0;
  display: block;
  
}
.article-index__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin:0;
  display: block;
}

.nav-footer__img {
  font-size: 7vw;
  color: black;
}


.section-a-propos__img {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin:0;
  display: block;
}
